<% provide(:title, 'About Me') %>
<h1>About Us</h1>
<p>
  The <a href="http://math136.herokuapp.com/">Math 136</a> summary website is a final homework project for
  this class.
</p>

<p>
  - Tum Chaturapruek, HMC'14, Fall 2012
</p>