<% provide(:title, 'Branch points and cuts') %>

<p align = "right"> 
 	<%= link_to "Previous: Branch points and cuts",    branch_path %> ||
 	<%= link_to "Next: Elliptic functions",    elliptic_path %> 
</p>

<a name = "branch"><b> Branch points and cuts </b></a>
<p>
	<ul>
		<li> 
			Examples: $\log z, \sqrt{z}.$
		</li>
		<li>
			We restrict the angle so that it gives a unique value.
		</li>
		<li>
			<b>Def:</b> A multivalued function has a <em>branch point</em>
			at $z = z_0$ if upon traversing a small circle around
			that branch point and following the function's
			value continuously, you do not return to the same
			value as when you started.
		</li>
		<li>
			<b>Def:</b> A <em>branch cut</em> is an artificial barrier that produces
			a single-valued branch of the multivalued function.
		</li>
	</ul>
</p>