<% provide(:title, 'Cauchy Theorems and a Very Important Example') %>

 <p align = "right"> 
 	<%= link_to "Previous:   Holomorphic functions, Cauchy-Riemann eqs, complex integration",    holomorphic_path %> ||
 	<%= link_to "Next: Power series and Singularities",    power_and_singularities_path %> 
 </p>
 
<a name = "cauchy"><b> Cauchy Theorems </b></a>
<p>
	<ul>
		<li>
			Let $f(z)$ be holomorphic in a simply-connected region $R\subset \mathbb{C}(z)$.
			Let $C$ be a simple (doesn't cross itself), closed curves in $R$.
			Then,
			\[
				\oint_C f(z) dz = 0.
			\]
		</li>
	</ul>
</p>

<hr>
<a name = "vie"><b> A Very Important Example </b></a>
<p>
	<ul>

		<li> This example will be a lemma for important proofs.</li>
			<%= image_tag("vie.png", :alt => "VIE", :height => '200', :align => 'middle') %>
		<li> Then we get	\[
				\int_C (z - a)^n = 
				\begin{cases}
					0,\quad \text{ if $n\neq -1$}\\
					2\pi i, \quad \text{ if $n = -1$}.
				\end{cases}
			\]
		</li>
		
	</ul>
</p>