<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });

</script>



<% provide(:title, 'Math 136 Summary') %>
<h1>Math 136 Summary</h1>
<p>
 
  <h3>Test</h3>
  <ul>
    <li> This semester we learned quite a bit
      of Ruby on Rails, so that this page
      is possible. </li>
    <li> Add a math equation like this: 
      $\sqrt{9 + 4\sqrt{5}} - \sqrt{9 - 4\sqrt{5}} = 4,$ or like this
      \[\sum_{n=1}^\infty \frac{1}{n^2} = \frac{\pi^2}{6}.\]
      We use MathJax for this one.
    </li>
  </ul>

