<% provide(:title, 'Math 136 Summary') %>
<h1>Math 136 Summary</h1>
<p>
 
  <h3>Content</h3>
  <ul>
    <li> <%= link_to "Complex Arithmetic",    complex_arithmetic_path %> </li>
    <li> <%= link_to "Multipled-Valued Function",    multiple_valued_and_calculus_path %> </li>
  </ul>
  
</p>