<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	I think these pages are pretty easy to use already.
	If you have questions or comments, please send me an 
	email at tum_chaturapruek (at) hmc (dot) edu
</p>

