<% provide(:title, 'Holomorphic functions, Cauchy-Riemann eqs, complex integration') %>

<a name = "holomorphic-functions"><b> Holomorphic functions </b></a>
<hr>
<p>
	<ul>
		<li>
			Examples: $e^z, \sin z, z^3.$
		</li>
		<li>
			Non-Examples: $\overline{z}.$
		</li>
		<li>
			Def: A function $f(z)$ is <em>holomophic</em> at $z = z_0$
			if it is differentiable at $z = z_0$ and in a small neighborhood of that point.
		</li>
		<li>
			Def: A function $f(z)$ is <em>entire</em> if it is holomorphic
			everywhere (for all finite $z$).
		</li>
		<li>
			Consequences: Suppose $f(z)$ is holomorphic in a region $R$.
			<ul>
				<li> $f$ satisfies the Cauchy-Riemann equations. </li>
				<li> The real and imaginary parts of $f(z)$ are harmonic in $R$ (i.e., 
					it satisfies the Laplace's equation, $\nabla^2\phi = 0$). </li>
				<li> If $\overline{f(z)}$ is also holomorphic, then $f(z)$ is constant in $R$. </li>
				<li> The CR eqs explain why the real and the imaginary parts are mutually orthogonal. </li>
			</ul>
		</li>
	</ul>
</p>

<a name = "cauchy"><b> Cauchy-Riemann equations </b></a>
<hr>
<p>
	
	<ul>
		<li> Suppose $f(x, y) = u(x, y) + iv(x, y).$ Then,
			\begin{align*}
			u_x &= v_y\\
			u_y &= -v_x.
			\end{align*}
		</li>
		
	</ul>
</p>

<a name = "complex-integration"><b> Complex integration </b></a>
<hr>
<p>
	
	<ul>
		<li>
			Generally, the integral depends on the path, so we need to parameterize.
		</li>

	</ul>
</p>