<div class="center hero-unit">
  <h2>Welcome to Math136 Summary, by Tum Chaturapruek, HMC'14, Fall 2012</h2>

<%= image_tag("jacobi.png", :alt => "Jocibi", :height => '250', :align => 'middle') %>

		
<hr>
  <%= link_to "Go to see the content!", content_path, class: "btn btn-large btn-primary" %>
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->
