<% provide(:title, 'Integrals involving multi-valued functions') %>

<p align = "right"> 
 	<%= link_to "Previous: Branch points and cuts",    branch_path %> ||
 	<%= link_to "Next: Elliptic functions",    elliptic_path %> 
</p>

<a name = "integral-multi"><b> Integrals involving multi-valued functions </b></a>
<p>
	<ul>
		<li>
			We cannot construct a path passing a branch cut or
			a branch point.
		</li>
		<li>
			Choose a path that avoids branch cuts, branch points.
		</li>
		<li>
			Example:
			\[
				I = \int_0^\infty \frac{(\ln x)^2}{x^2 + 1}dx.
			\]
		</li>
	</ul>
</p>