<% provide(:title, 'Integrals involving multi-valued functions') %>

<p align = "right"> 
 	<%= link_to "Previous: Principal value integrals",    principal_value_path %> ||
 	<%= link_to "Next: Integrals involving multi-valued functions",    integral_multi_path %> 
</p>

<a name = "integral-multi"><b> Integrals involving multi-valued functions </b></a>
<p>
	<ul>
		<li>
			Choose a path that avoids branch cuts, branch points.
		</li>
		<li>
			Example:
			\[
				I = \int_0^\infty \frac{(\ln x)^2}{x^2 + 1}dx.
			\]
		</li>
	</ul>
</p>