<% provide(:title, 'Integrals involving multi-valued functions') %>

<p align = "right"> 
 	<%= link_to "Previous: Summation of Series",    summation_path %> ||
 	<%= link_to "Next: Special topics",    special_path %> 
</p>

<a name = "log"><b> Log trick </b></a>
<p>
	<ul>
		<li>
			Coming soon...
		</li>
	</ul>
</p>