<% provide(:title, 'Residue Calculus') %>

<p align = "right"> 
 	<%= link_to "Previous: Power series and Singularities",    power_and_singularities_path %> ||
 	<%= link_to "Next: Integral Transforms",    integral_transforms_path %> 
</p>

<a name = "cauchy"><b> Residue Calculus </b></a>
<p>
	<ul>
		<li> Def: Suppose the function $f(z)$ has an isolateed singularity at 
			$z = z_0.$ <em>The residue</em> of $f(z)$ at $z = z_0,$
			which we will denote as $\text{Res}(f;z_0),$ is equal to the
			coefficient of the $(z - z_0)^{-1}$ term in 
			its Laurent series expansion about that point.
			In other words,
			\[
			f(z) = \sum_{n=-\infty}^\infty a_n(z - z_0)^n \to \text{Res}(f;z_0)= a_{-1}.
			\]
		</li>
		<li> Suppose $f(z)$ has a removable singularity at $z_0,$ then
			\[
			\text{Res}(f;z_0)=0.
			\]
		</li>
		<li> Suppose $f(z)$ is holomorphic at $z_0.$ Then
			\[
			\text{Res}\left(\frac{f(z)}{z - z_0};z_0\right) = f(z_0).
			\]
		</li>
		<li> In general, suppose $f(z)$ is holomorphic at $z_0.$ Then
			\[
			\text{Res}\left(\frac{f(z)}{(z - z_0)^n};z_0\right) = \frac{1}{(n-1)!}f^{(n-1)}(z_0).
			\]
		</li>
		<li>
			Let $F(z)$ and $G(z)$ be holomorphic at $z = z_0$
			and $G(z)$ has a simple zero at $z = z_0.$ Then
			\[
			\text{Res}\left(\frac{F(z)}{G(z)};z_0\right) = \frac{F(z_0)}{G'(z_0)}.
			\]
		</li>
	</ul>
</p>

<hr>
<a name = "vie"><b> Residue Theorem </b></a>
<p>
	<ul>
		<li>
			Let $f(z)$ be holomorphic in and on a simple, closed,
			positively-oriented (roughly, CCW) curve $C$
			except for possibly finitely many isolated singularities
			inside $C$. Then
			\[
				\oint_{C} f(z)dz =  2\pi i\sum_{n=1}^N \text{Res}(f(z);z_n),
			\]
			where $z_1, z_2, \ldots, z_N$ are the isolated singularities
			of $f(z)$ inside $C$.
		</li>
		<ul>
			<li>
				Proof idea: Use our VIE.
			</li>
		</ul>
	</ul>
</p>