<% provide(:title, 'Riemann sphere and infinity') %>

<p align = "right"> 
 	<%= link_to "Previous: Elliptic functions",    elliptic_path %> ||
 	<%= link_to "Next: Summation of Series",    summation_path %> 
</p>

<a name = "riemann"><b> Riemann sphere and infinity </b></a>
<p>
	<ul>
		<li>
			coming soon...	
		</li>
	</ul>
</p>