<% provide(:title, 'Summation of Series') %>

<p align = "right"> 
 	<%= link_to "Previous: Riemann sphere and infinity",    riemann_path %> ||
 	<%= link_to "Next: Log trick",    log_path %> 
</p>

<a name = "summation"><b> Summation of Series </b></a>
<p>
	<ul>
		<li>
			Coming soon...
		</li>
	</ul>
</p>