<footer class="footer">
  <small>
    <a href="http://math136.herokuapp.com/">Math 136 Summary</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>